name: Hello world

on:
  push

jobs:
  Test-job:
    runs-on: ubuntu-latest

    steps:
     - name: Hello world
       run: "echo world"

  Build-job:
    runs-on: ubuntu-latest
    steps:

     - name: checkout code
       uses: actions/checkout@v4

     - name: Set up Python
       uses: actions/setup-python@v5
       with:
          python-version: "3.10"

     - name: Installing dependencies
       run: |
        python -m pip install --upgrade pip
        pip install -r requiements.txt

     - name: Training the model
       run: |
        python train.py

      
